.miii-button {
    position: relative;
    display: inline-block;
}
.miii-button .first-child {
    background-color: #fff;
    border: solid 1px #eee;
    color: #569ea4;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 0px #bbb;
    behavior: url(http://devm1.corp.muchiii.com:50029/ie-css3/ie-css3.htc);
}
.miii-button a:link,
.miii-button a:visited {
    color: #569ea4;
    display: block;
    font-size: 93%;
    padding: 5px 10px;
    text-decoration: none;
}
.miii-button input {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #569ea4;
    display: block;
    font-size: 93%;
    padding: 5px 10px;
    text-decoration: none;
    *width: auto;
    *height: auto;
    *line-height: 1;
}
